/* CSS declarations go here */
.sector {
    background: #f4f4f4;
    display: inline-block;
}

.cell {
    padding: 5px;
    float: left;
    border: 1px solid gray;
    width: 25px;
}

.cell input {
    background: #f4f4f4;
    border: 0;
    width: 20px;
    font-size: 20px;
    display: block;
    margin : 0 auto;
    position: relative;
    text-align: center;
}

*:focus {
    outline: 0;
}